body{
  background-color: rgb(111, 111, 226);
  font: normal 15pt arial;
}

#header{
  color: white;
  text-align: center;
}

#section{
  margin: auto;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
  
}

#footer{
  color: white;
  text-align: center;
}
